<div class="flex items-center justify-around mb-7">
  <app-pagination-join-buttons
    (nextPageClicked)="nextPage()"
    (previousPageClicked)="previousPage()"
  ></app-pagination-join-buttons>
  <app-page-stats-box
    statsTitle="Characters"
    [pageData]="paginationMetaData"
  ></app-page-stats-box>
</div>
<div class="flex flex-wrap gap-5">
  @if(isLoading){
  <app-skeleton-card></app-skeleton-card>
  <app-skeleton-card></app-skeleton-card>
  <app-skeleton-card></app-skeleton-card>
  <app-skeleton-card></app-skeleton-card>
  <app-skeleton-card></app-skeleton-card>
  <app-skeleton-card></app-skeleton-card> } @else { @for (character of
  characters; track character.id) {
  <app-character-card [character]="character"></app-character-card>
  } }
</div>
