@if(isLoading){
<div class="h-full flex items-center justify-center">
  <app-loading-spinner></app-loading-spinner>
</div>
} @else { @if (character) {
<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img
      src="{{ character.attributes.image }}"
      class="max-w-sm rounded-lg shadow-2xl"
    />
    <div>
      <h1 class="text-5xl font-bold">{{ character.attributes.name }}</h1>

      <app-table [details]="character.attributes"></app-table>

      <button class="btn btn-primary" (click)="goBackToPrevPage()">
        Back to List
      </button>
    </div>
  </div>
</div>
} }
