<div class="stat">
  <div class="stat-figure text-secondary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="inline-block w-8 h-8 stroke-current"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 10V3L4 14h7v7l9-11h-7z"
      ></path>
    </svg>
  </div>
  <div class="stat-title">{{ statsTitle }}</div>
  <div class="stat-value text-secondary">
    Page {{ pageData?.current }}/{{ pageData?.last }}
  </div>
  <div class="stat-desc">{{ pageData?.records }} characters in database</div>
</div>
